body {
    display: flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #970100;
}

.buttonCont {
    display: flexbox;
    background-color: rgb(241, 245, 245);
}

.resetbutton {
    display: flex;
}

.boxdiv {
    display: flexbox;
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 600px;
    background-color: rgb(241, 245, 245);

}
.columnboxdiv {
    display: flexbox;
    flex-direction: column;
    display: flex;
    flex: 1;
}

.smallboxdiv {
    display: flex;
    flex: 1;
    background-color: #d6dee1;
    border: 0.1px rgb(255, 255, 255) solid;
}