body {
    display: flexbox;
}

.boxdiv {
    display: flexbox;
    background-color: rgb(89, 89, 89);
    /* border: 1px black solid; */
}
.rowboxdiv {
    display: flexbox;
    display: flex;
    width: 160px;
    height: 10px;
    /* background-color: rgb(241, 245, 245);
    border: 1px black solid; */
}

.smallboxdiv {
    display: flex;
    width: 10px;
    height: 10px;
    background-color: rgb(241, 245, 245);
    border: 1px black solid;
}