body {
    display: flexbox;
}

.boxdiv {
    display: flexbox;
}
.rowboxdiv {
    display: flexbox;
    display: flex;
    width: auto;
    height: auto;
}

.smallboxdiv {
    display: flex;
    width: 16px;
    height: 16px;
    background-color: rgb(241, 245, 245);
    border: 1px black solid;
    margin: 0px;
}